@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/*css reset*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*utils*/
.container {
    max-width:900px;
    margin:0 auto;
}

.card-deck {
    display:flex;
    gap:15px;
    flex-wrap: wrap;
}

.card {
    min-width:290px ;
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    flex-shrink: 0;
    border: 2px solid red;
}

.main-header {
    margin-bottom: 55px;
    
}

/*generics*/
header {
    background-color: white;
}

main {
    background-color: white;
}

h1 {
    font-weight: bold;
}

.icon {
    display:flex;
    justify-content: flex-end;
    transform: translateY(-45px);
    
    
}

.card-header {
    padding:10px;
}

.euro {
    margin:0px 108px;
    
}

.cash {
    margin: 11px 84px;
}

.button-first {
    position: absolute;
}

.plane {
    border-radius: 10px 10px;
    padding: 6px 6px;
    
}


.button-plane {
  margin: 0.5rem 44px;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #6a00ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 70px;
  text-align: left;
  
}

.list li {
  margin: .75rem 0;
}

